/*********************************FONT STYLE*****************************************/
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Montserrat-Light";
  src: url("../font/Montserrat-Light.otf") format("opentype"); }
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular.otf") format("opentype"); }
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../font/Montserrat-SemiBold.otf") format("opentype"); }
.font-family-bold {
  font-family: "Montserrat-Bold", sans-serif; }

.font-family-semi-bold {
  font-family: "Montserrat-SemiBold", sans-serif; }

.font-family-light {
  font-family: "Montserrat-Light", sans-serif; }

.font-family-regular {
  font-family: "Montserrat-Regular", sans-serif; }

/*********************************JavaScript items styles***************************************************/
.alert {
  width: 400px;
  margin-top: 15px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s; }

.closebtn:hover {
  color: black; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 250px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 350px;
  text-align: center; }
  .modal-content p {
    color: #721c24;
    font-size: 20px;
    margin: 5px 0; }

.close {
  position: absolute;
  top: -5px;
  right: 5px;
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/***************************************************Main styles*************************************************************/
html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }
  html .body-width, body .body-width {
    max-width: 1280px;
    margin: 0 auto; }
  html .nav, body .nav {
    position: relative;
    background-image: url("../images/bg-image.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    html .nav .layer, body .nav .layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background-color: rgba(31, 32, 33, 0.79); }
    html .nav .container, body .nav .container {
      position: relative;
      padding: 5px 80px; }
      html .nav .container .navbar, body .nav .container .navbar {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        html .nav .container .navbar .left-side, body .nav .container .navbar .left-side {
          width: 55%;
          display: flex;
          justify-content: space-between; }
          html .nav .container .navbar .left-side .nav-brand img, body .nav .container .navbar .left-side .nav-brand img {
            width: 78px;
            height: 78px; }
          html .nav .container .navbar .left-side .navbar-nav, body .nav .container .navbar .left-side .navbar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            html .nav .container .navbar .left-side .navbar-nav .nav-item, body .nav .container .navbar .left-side .navbar-nav .nav-item {
              list-style: none; }
              html .nav .container .navbar .left-side .navbar-nav .nav-item .nav-link, body .nav .container .navbar .left-side .navbar-nav .nav-item .nav-link {
                font-size: 18px;
                color: #ffffff;
                text-decoration-line: none;
                padding: 0 35px; }
              html .nav .container .navbar .left-side .navbar-nav .nav-item:hover, body .nav .container .navbar .left-side .navbar-nav .nav-item:hover {
                transform: scale(1.1); }
              html .nav .container .navbar .left-side .navbar-nav .nav-item:active .nav-link, body .nav .container .navbar .left-side .navbar-nav .nav-item:active .nav-link {
                background-color: #f3f3f3;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid grey;
                border-radius: 5px;
                color: #1f2021; }
        html .nav .container .navbar .right-side h4, body .nav .container .navbar .right-side h4 {
          color: #ffffff;
          font-size: 24px;
          margin-bottom: 0;
          margin-top: 0; }
        html .nav .container .navbar .right-side p, body .nav .container .navbar .right-side p {
          color: #ffffff;
          font-size: 18px;
          margin-bottom: 0;
          margin-top: 5px;
          float: right; }
      html .nav .container .nav-header, body .nav .container .nav-header {
        color: #ffffff;
        font-size: 34px; }
  html .main section#cards .container, body .main section#cards .container {
    padding: 5px 80px; }
    html .main section#cards .container .above-part, body .main section#cards .container .above-part {
      margin: 15px 0;
      display: flex;
      justify-content: left; }
      html .main section#cards .container .above-part h3, body .main section#cards .container .above-part h3 {
        font-size: 18px; }
      html .main section#cards .container .above-part button, body .main section#cards .container .above-part button {
        margin: 0 35px;
        border: 0;
        background-color: transparent;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        html .main section#cards .container .above-part button p, body .main section#cards .container .above-part button p {
          margin-right: 14px; }
        html .main section#cards .container .above-part button:nth-child(2), body .main section#cards .container .above-part button:nth-child(2) {
          margin-right: 0; }
    html .main section#cards .container .row, body .main section#cards .container .row {
      display: flex;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      html .main section#cards .container .row .col-3, body .main section#cards .container .row .col-3 {
        margin-bottom: 30px;
        width: 32%; }
        html .main section#cards .container .row .col-3 .card, body .main section#cards .container .row .col-3 .card {
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px; }
          html .main section#cards .container .row .col-3 .card .card-header, body .main section#cards .container .row .col-3 .card .card-header {
            position: relative;
            width: 100%; }
            html .main section#cards .container .row .col-3 .card .card-header img, body .main section#cards .container .row .col-3 .card .card-header img {
              width: 100%;
              height: 100%; }
            html .main section#cards .container .row .col-3 .card .card-header .heart-grey, body .main section#cards .container .row .col-3 .card .card-header .heart-grey {
              position: absolute;
              top: 30px;
              right: 30px;
              cursor: pointer; }
            html .main section#cards .container .row .col-3 .card .card-header .sale, body .main section#cards .container .row .col-3 .card .card-header .sale {
              width: 78px;
              height: 39px;
              border-radius: 10px;
              background-color: #e52d2d;
              position: absolute;
              top: 30px;
              left: 30px;
              color: white;
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer; }
          html .main section#cards .container .row .col-3 .card .card-body, body .main section#cards .container .row .col-3 .card .card-body {
            padding: 20px 20px;
            background-color: #f3f3f3; }
            html .main section#cards .container .row .col-3 .card .card-body h5, body .main section#cards .container .row .col-3 .card .card-body h5 {
              font-size: 24px;
              margin: 0 0 20px 0; }
            html .main section#cards .container .row .col-3 .card .card-body .row, body .main section#cards .container .row .col-3 .card .card-body .row {
              width: 90%;
              display: flex;
              align-items: center;
              border-left: 4px solid #6ebbd3;
              padding-left: 15px; }
              html .main section#cards .container .row .col-3 .card .card-body .row p, body .main section#cards .container .row .col-3 .card .card-body .row p {
                margin: 0;
                font-size: 12px; }
              html .main section#cards .container .row .col-3 .card .card-body .row .age h6, body .main section#cards .container .row .col-3 .card .card-body .row .age h6 {
                font-size: 16px;
                margin: 0 0 2px 0; }
              html .main section#cards .container .row .col-3 .card .card-body .row .number-legs h6, body .main section#cards .container .row .col-3 .card .card-body .row .number-legs h6 {
                font-size: 16px;
                margin: 0 0 2px 0; }
            html .main section#cards .container .row .col-3 .card .card-body .cost, body .main section#cards .container .row .col-3 .card .card-body .cost {
              font-size: 24px;
              margin: 20px 0 0 0; }
          html .main section#cards .container .row .col-3 .card .card-footer, body .main section#cards .container .row .col-3 .card .card-footer {
            margin-bottom: 20px; }
            html .main section#cards .container .row .col-3 .card .card-footer button, body .main section#cards .container .row .col-3 .card .card-footer button {
              display: block;
              width: 100%;
              border: none;
              background-color: #6ebbd3;
              padding: 20px 0;
              font-size: 16px;
              cursor: pointer;
              text-align: center;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              color: #ffffff; }
              html .main section#cards .container .row .col-3 .card .card-footer button:hover, body .main section#cards .container .row .col-3 .card .card-footer button:hover {
                background-color: rgba(110, 187, 211, 0.8); }
              html .main section#cards .container .row .col-3 .card .card-footer button:active, body .main section#cards .container .row .col-3 .card .card-footer button:active {
                color: #ffffff;
                background-color: darkgray; }
            html .main section#cards .container .row .col-3 .card .card-footer .dark-side, body .main section#cards .container .row .col-3 .card .card-footer .dark-side {
              background-color: #1f2021; }
              html .main section#cards .container .row .col-3 .card .card-footer .dark-side:hover, body .main section#cards .container .row .col-3 .card .card-footer .dark-side:hover {
                background-color: rgba(31, 32, 33, 0.8); }
              html .main section#cards .container .row .col-3 .card .card-footer .dark-side:active, body .main section#cards .container .row .col-3 .card .card-footer .dark-side:active {
                color: #ffffff;
                background-color: darkgray; }
    html .main section#cards .container .below-part, body .main section#cards .container .below-part {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 60px; }
      html .main section#cards .container .below-part button, body .main section#cards .container .below-part button {
        height: 65px;
        width: 380px;
        border: 1px solid #cacaca;
        border-radius: 10px;
        background-color: transparent;
        font-size: 14px;
        cursor: pointer; }
        html .main section#cards .container .below-part button:nth-child(2), body .main section#cards .container .below-part button:nth-child(2) {
          position: absolute;
          right: 0;
          top: 45px;
          height: 59px;
          width: 59px;
          border-radius: 0;
          background-color: #6ebbd3; }
        html .main section#cards .container .below-part button:hover, body .main section#cards .container .below-part button:hover {
          background-color: #6ebbd3;
          color: white; }
        html .main section#cards .container .below-part button:active, body .main section#cards .container .below-part button:active {
          background-color: #1f2021; }
  html .main section#footer, body .main section#footer {
    margin-bottom: 50px; }
    html .main section#footer .container, body .main section#footer .container {
      padding: 5px 80px; }
      html .main section#footer .container .row, body .main section#footer .container .row {
        background-color: #1f2021;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center; }
        html .main section#footer .container .row .col-5, body .main section#footer .container .row .col-5 {
          padding: 0 42px;
          width: calc((100 / 12) * 5%); }
          html .main section#footer .container .row .col-5 h2, body .main section#footer .container .row .col-5 h2 {
            font-size: 48px;
            color: #ffffff; }
          html .main section#footer .container .row .col-5 h4, body .main section#footer .container .row .col-5 h4 {
            font-size: 28px;
            color: #ffffff; }
        html .main section#footer .container .row .col-7, body .main section#footer .container .row .col-7 {
          width: calc((100 / 12) * 7%); }
          html .main section#footer .container .row .col-7 .email-input, body .main section#footer .container .row .col-7 .email-input {
            height: 55px;
            width: 270px;
            border-radius: 10px;
            border: none;
            box-shadow: none;
            font-size: 14px;
            padding-left: 15px;
            outline: 0; }
          html .main section#footer .container .row .col-7 button, body .main section#footer .container .row .col-7 button {
            margin-left: 10px;
            height: 55px;
            width: 230px;
            border-radius: 10px;
            color: #ffffff;
            font-size: 14px;
            background-color: #6ebbd3;
            border: 0;
            cursor: pointer; }
            html .main section#footer .container .row .col-7 button:hover, body .main section#footer .container .row .col-7 button:hover {
              background-color: rgba(110, 187, 211, 0.95); }
            html .main section#footer .container .row .col-7 button:active, body .main section#footer .container .row .col-7 button:active {
              background-color: #f3f3f3;
              color: grey; }
          html .main section#footer .container .row .col-7 .checkbox-part, body .main section#footer .container .row .col-7 .checkbox-part {
            color: white;
            margin-top: 12px;
            display: block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            html .main section#footer .container .row .col-7 .checkbox-part input, body .main section#footer .container .row .col-7 .checkbox-part input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0; }
            html .main section#footer .container .row .col-7 .checkbox-part .checkmark, body .main section#footer .container .row .col-7 .checkbox-part .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 18px;
              width: 18px;
              background-color: #eee; }
              html .main section#footer .container .row .col-7 .checkbox-part .checkmark:after, body .main section#footer .container .row .col-7 .checkbox-part .checkmark:after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 2px;
                width: 3px;
                height: 9px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
            html .main section#footer .container .row .col-7 .checkbox-part:hover input ~ .checkmark, body .main section#footer .container .row .col-7 .checkbox-part:hover input ~ .checkmark {
              background-color: #ffffff; }
            html .main section#footer .container .row .col-7 .checkbox-part input:checked ~ .checkmark, body .main section#footer .container .row .col-7 .checkbox-part input:checked ~ .checkmark {
              background-color: #6ebbd3; }
            html .main section#footer .container .row .col-7 .checkbox-part input:checked ~ .checkmark:after, body .main section#footer .container .row .col-7 .checkbox-part input:checked ~ .checkmark:after {
              display: block; }

/*************************Media styles*********************************************/
@media (max-width: 1279px) {
  body .main section#footer .container .row .col-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body .main section#footer .container .row .col-7 input {
      margin-bottom: 15px; }
    body .main section#footer .container .row .col-7 button {
      margin-bottom: 10px; } }
@media (max-width: 1024px) {
  body .nav {
    position: relative;
    background-image: none;
    background-color: #1f2021;
    background-repeat: no-repeat; }
    body .nav .container .navbar {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      body .nav .container .navbar .left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .nav .container .navbar .left-side .nav-brand {
          width: 100%;
          display: flex;
          justify-content: center; }
          body .nav .container .navbar .left-side .nav-brand img {
            width: 78px;
            height: 78px; }
        body .nav .container .navbar .left-side .navbar-nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline-start: 0; }
      body .nav .container .navbar .right-side {
        margin-top: 10px; }
        body .nav .container .navbar .right-side h4 {
          color: #ffffff;
          font-size: 24px;
          margin-bottom: 0;
          margin-top: 0; }
        body .nav .container .navbar .right-side p {
          color: #ffffff;
          font-size: 18px;
          margin-bottom: 0;
          margin-top: 5px;
          float: right; }
    body .nav .container .nav-header {
      text-align: center; }
  body .main section#cards .container .above-part h3 {
    font-size: 18px; }
  body .main section#cards .container .above-part button {
    margin: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  body .main section#cards .container .row {
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    body .main section#cards .container .row .col-3 {
      width: 48%; }
  body .main section#footer .container .row {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body .main section#footer .container .row .col-5 {
      text-align: center;
      width: 100%;
      padding: 0; }
      body .main section#footer .container .row .col-5 h2 {
        font-size: 48px;
        color: #ffffff; }
      body .main section#footer .container .row .col-5 h4 {
        font-size: 28px;
        color: #ffffff; }
    body .main section#footer .container .row .col-7 {
      width: 100%; }
      body .main section#footer .container .row .col-7 button {
        margin-left: 10px;
        height: 55px;
        width: 230px;
        border-radius: 10px;
        color: #ffffff;
        font-size: 14px;
        background-color: #6ebbd3;
        border: 0; }
        body .main section#footer .container .row .col-7 button:hover {
          background-color: rgba(110, 187, 211, 0.95); }
        body .main section#footer .container .row .col-7 button:active {
          background-color: #f3f3f3;
          color: grey; } }
@media (max-width: 776px) {
  body .nav .container .navbar .left-side .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .nav .container .navbar .left-side .navbar-nav .nav-item {
      margin-bottom: 15px; }
  body .nav .container .navbar .right-side {
    margin-top: 10px;
    text-align: center; }
    body .nav .container .navbar .right-side h4 {
      margin-top: 0; }
    body .nav .container .navbar .right-side p {
      float: none !important; }
  body .nav .container .nav-header {
    text-align: center; }
  body .main section#cards .container .above-part {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .main section#cards .container .above-part button {
      margin: 0 5px;
      border: 0;
      background-color: transparent;
      font-size: 18px;
      display: flex;
      justify-content: left;
      align-items: center; }
  body .main section#cards .container .row {
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    body .main section#cards .container .row .col-3 {
      width: 100%; }
  body .main section#cards .container .below-part {
    margin-top: 20px;
    margin-bottom: 40px; }
  body .main section#footer .container .row {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    body .main section#footer .container .row .col-5 {
      width: 100%; }
      body .main section#footer .container .row .col-5 h2 {
        font-size: 48px;
        color: #ffffff; }
      body .main section#footer .container .row .col-5 h4 {
        font-size: 28px;
        color: #ffffff; }
    body .main section#footer .container .row .col-7 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      body .main section#footer .container .row .col-7 input {
        margin-bottom: 10px; } }

/*# sourceMappingURL=main.css.map */
